body{
font-family: Arial;
padding:40px;
}

.box{
width:200px;
height:100px;
background:#ddd;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
transition:0.3s;
}

.active{
background:orange;
color:white;
}

.round{
border-radius:20px;
}

.controls{
margin-top:20px;
} 

button{
margin:5px;
padding:8px 12px;
cursor:pointer;
}

#output{
margin-top:20px;
font-weight:bold;
}